
<div class="container-fluid">
<form [formGroup]="studentForm" (ngSubmit)="addStudent(studentForm.value)" #myForm="ngForm" class="text-left border border-light p-5">
    <h3 class="h4 mb-4">Student Registration Page</h3>
  <div class="form-group">
    <label class=" col-form-label"> First Name</label>
    <input type="text"  class="form-control" formControlName="fname"  />
  </div> 
  <div class="form-group">
    <label class=" col-form-label">Last Name</label>
    <input type="text"  class="form-control" formControlName="lname" />
  </div>
  <div class="form-group">
    <label class=" col-form-label">Age</label>
    <input type="number"  class="form-control" formControlName="age" />
  </div> 
    <h6>Address</h6>
    <div class="form-group">
      <label>Select Country</label>
      <select class="form-control" formControlName="country"  (change)="onChangeCountry($event)">
        <option  value="-1">---Select Country--</option>
        <option *ngFor="let country of countryInfo; let i = index" value="{{i}}">{{country.CountryName}}</option>
      </select>  
    </div>
    <div class="form-group">
        <label>Select State</label>
        <select class="form-control" formControlName="state" (change)="onChangeState($event)">
          <option value="-1">--Select State--</option>
          <option *ngFor="let state of stateInfo; let j = index" value="{{j}}">{{state.StateName}}</option>
        </select>  
    </div>
    <div class="form-group">
        <label>Select City</label>
        <select class="form-control" formControlName="city" (change)="OnChangeCity($event)" >
            <option value="-1">--Select City--</option>
          <option *ngFor="let city of cityInfo; let k = index" value="{{k}}">{{city}}</option>
        </select>  
    </div>
  
  <button *ngIf="!updateData else elseBlock" class="btn btn-primary" [disabled]="!myForm.form.valid" type="submit" style="margin:5px" >Add Student</button>
  <ng-template #elseBlock>
    <button (click)="updateStudent(studentForm.value)"type="button" class="btn btn-primary">Edit Student</button></ng-template> 
  <button class="btn btn-primary" style="margin:5px" (click)="getStudent()" type="button">Show Record</button> 
  <button class="btn btn-primary" [disabled]="!myForm.form.valid" style="margin:5px" (click)="resetData()" type="button">Reset</button> 
  
  
</form>
</div>
